<div class="login-box" ng-controller="AuthCtrl as auth">
    <div class="login-logo"><b>Easy</b> Economy</div>
    <div class="login-box-body">
        <h3><p class="login-box-msg">{{ auth.loginMode ? 'Login' : 'Registre-se' }}</p></h3>
        <form>
            <auth-field id="authName" model="auth.user.name" type="input"
                placeholder="Informe o Nome" icon="glyphicon glyphicon-user form-control-feedback"  hide="auth.loginMode"></auth-field>
            <auth-field id="authEmail" model="auth.user.email" type="email"
                placeholder="Informe o E-mail" icon="glyphicon glyphicon-envelope form-control-feedback"></auth-field>
            <auth-field id="authPass" model="auth.user.password" type="password"
                placeholder="Informe a Senha" icon="glyphicon glyphicon-lock form-control-feedback"></auth-field>
            <auth-field id="authConfirmPass" model="auth.user.confirm_password" type="password"
                placeholder="Confirme a Senha"  icon="glyphicon glyphicon-log-in form-control-feedback" hide="auth.loginMode"></auth-field>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-block btn-flat"
                        ng-click="auth.login()" ng-show="auth.loginMode">Entrar</button>
                    <button class="btn btn-primary btn-block btn-flat"
                        ng-click="auth.signup()" ng-hide="auth.loginMode">Registrar</button>
                </div>
            </div>
        </form>
        <br />
        <a href="javascript:;" ng-click="auth.changeMode()">
            {{ auth.loginMode ?
                'Novo usuário? Registrar aqui!' :
                'Já é cadastrado? Entrar aqui!' }}
        </a>
    </div>
</div>

<style>
    html, .wrapper { background-color: #fff!important; }
    .login-box-body { background-color: #eee; }
</style>
