<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debt in bcCtrl.billingCycle.debts">
        <td>
          <input ng-model="debt.name" class="form-control" placeholder="Informe o Nome"
           ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView"  ng-readonly="tabDelete" />
        </td>
        <td>
          <input ng-model="debt.value" class="form-control" placeholder="Informe o valor"
             ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-change="bcCtrl.calculateValues()" ng-readonly="tabDelete" type="number" />
        </td>
        <td>
          <input ng-model="debt.status" class="form-control" placeholder="Informe o status"
             ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-readonly="tabDelete" />
        </td>
        <td style="width:150px;" ng-if="!tabDelete">
          <button class="btn btn-success" ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-click="bcCtrl.addDebt($index)" title="Adicionar"><i class="fa fa-plus"></i></button>
          <button class="btn btn-warning" ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-click="bcCtrl.cloneDebt($index,debt)" title="Clonar"><i class="fa fa-clone"></i></button>
          <button class="btn btn-danger" ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-click="bcCtrl.deleteDebt($index)" title="Excluir"><i class="fa fa-trash-o"></i></button>
        </td>
        <td style="width:150px;" ng-if="tabDelete">
          <button class="btn btn-success disabled"><i class="fa fa-plus"></i></button>
          <button class="btn btn-warning disabled"><i class="fa fa-clone"></i></button>
          <button class="btn btn-danger disabled"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
