<content-header name="Ciclo de Pagamentos" small="cadastro"></content-header>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="BillingCycleCtrl as bcCtrl">
      <ul class="nav nav-tabs">
        <li ng-if="bcCtrl.tabList" ng-class="{active: bcCtrl.tabList}">
           <a href data-target="#tabList" data-toggle="tab">
             <i class="fa fa-bars"></i> Lista
          </a>
       </li>
       <li ng-if="bcCtrl.tabCreate">
          <a href data-target="#tabCreate" data-toggle="tab">
             <i class="fa fa-plus"></i> Incluir
          </a>
       </li>
       <li ng-if="bcCtrl.tabUpdate" ng-class="{active: bcCtrl.tabUpdate}">
          <a href data-target="#tabUpdate" data-toggle="tab">
             <i class="fa fa-pencil"></i> Alterar
          </a>
       </li>
        <li ng-if="bcCtrl.tabDelete" ng-class="{active: bcCtrl.tabDelete}">
           <a href data-target="#tabDelete" data-toggle="tab">
             <i class="fa fa-trash-o"></i> Excluir
          </a>
       </li>
       <li ng-if="bcCtrl.tabView" ng-class="{active: bcCtrl.tabView}">
          <a href data-target="#tabView" data-toggle="tab">
             <i class="fa fa-eye"></i> Visualizar
          </a>
       </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="tabList" ng-class="{active: bcCtrl.tabList}"
           ng-include="'billingCycle/list.html'"  ng-if="bcCtrl.tabList"></div>
        <div class="tab-pane"
            id="tabCreate" ng-if="bcCtrl.tabCreate"
            ng-include="'billingCycle/form.html'"></div>
        <div class="tab-pane"
            id="tabUpdate" ng-if="bcCtrl.tabUpdate" ng-class="{active: bcCtrl.tabUpdate}"
            ng-include="'billingCycle/form.html'"></div>
        <div class="tab-pane"
            id="tabDelete"  ng-if="bcCtrl.tabDelete" ng-class="{active: bcCtrl.tabDelete}"
            ng-include="'billingCycle/form.html'"></div>
        <div class="tab-pane"
            id="tabView"  ng-if="bcCtrl.tabView" ng-class="{active: bcCtrl.tabView}"
            ng-include="'billingCycle/form.html'"></div>
    </div>
  </div>
</section>


<!--
<section class="content">
    <div class="nav-tabs-custom" ng-controller="BillingCycleCtrl">
      <ul class="nav nav-tabs">
        <li ng-if="tabList" ng-class="{active: tabList}">
           <a href data-target="#tabList" data-toggle="tab">
             <i class="fa fa-bars"></i> Lista
          </a>
       </li>
       <li ng-if="tabCreate">
          <a href data-target="#tabCreate" data-toggle="tab">
             <i class="fa fa-plus"></i> Incluir
          </a>
       </li>
       <li ng-if="tabUpdate" ng-class="{active: tabUpdate}">
          <a href data-target="#tabUpdate" data-toggle="tab">
             <i class="fa fa-pencil"></i> Alterar
          </a>
       </li>
        <li ng-if="tabDelete" ng-class="{active: tabDelete}">
           <a href data-target="#tabDelete" data-toggle="tab">
             <i class="fa fa-trash-o"></i> Excluir
          </a>
       </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane"
            id="tabList"
            ng-if="tabList"
            ng-class="{active: tabList}"
            ng-include="'billingCycle/list.html'"></div>
        <div class="tab-pane"
            id="tabCreate"
            ng-if="tabCreate"
            ng-include="'billingCycle/form.html'"></div>
        <div class="tab-pane"
            id="tabUpdate"
            ng-if="tabUpdate"
            ng-class="{active: tabUpdate}"
            ng-include="'billingCycle/form.html'"></div>
        <div class="tab-pane"
            id="tabDelete"
            ng-if="tabDelete"
            ng-class="{active: tabDelete}"
            ng-include="'billingCycle/form.html'"></div>
      </div>
    </div>
</section> -->
